* {
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
}

.bg-color {
    background-color: #272727;
}

.font_family {
    font-family: sans-serif;
}

.text-font_size {
    font-size: 19px;
}

.padding-for-divs {
    padding: 10px;
}

@mixin color-p {
    color: red;
    font-weight: 300;
}

@mixin icons_color {
    color: #afb2b4;
}

.logo_section {
    display: flex;
    justify-content: center;
    @extend .bg-color;
}

.golestan_logo {
    // width: 143px;
    padding: 5px 0px;
}

.offcanvas_part {
    @extend .bg-color;
    .icons {
        @include icons_color();
        padding: 8px;
    }
    display: flex;
    justify-content: end;
    padding: 45px 7.5px 15px 0px;
}

.bg_products {
    background-image: linear-gradient(#f8f8f8,#d9d9d9);
}

.products-section {
    @extend .bg_products;
    width: 100%;
    height: 340px;
    @extend .padding-for-divs;
}

.product1-section {
    display: flex;
    justify-content: center;
    @extend .padding-for-divs;
}

.text_box {
    @extend .heading-text;
    @extend .paragraphs-text;
    @extend .texts-position;
}

.texts-position {
    position: absolute;
    left: 10%;
    bottom: 20%;
}

.heading-text {
    @extend .font_family;
    font-size: 25px;
    color: red;
    font-weight: 400;
    padding-bottom: 5px;
}

.paragraphs-text {
    @extend .font_family;
    font-size: 20px;
    color: #94979A;
    font-weight: 300;
}

@mixin heading-texts {
    color: red;
    font-size: 22px;
    font-weight: 200;
    @extend .font_family;
}

.introduction-heading {
    @include heading-texts;
    margin-top: 30px;
}

@mixin paragraphs-texts {
    @extend .text-font_size;
    line-height: 34px;
    color: #94979A;
    font-weight: 200;
    text-align: justify;
}

.introduction-text {
    @include paragraphs-texts;
    @extend .font_family;
    margin-top: 15px;
}

.introduction-text-box {
    margin: 0px  15px;
    padding: 10px;
}

@mixin span {
   color: red; 
}

.span-text {
    @include span;
}

.products-tea {
    margin-top: 150px;
}

@mixin tea-pics {
    display: flex;
    justify-content: center;
}

.products-pic {
    @include tea-pics;
    @extend .padding-for-divs;
}

.text-box-produtcs {
    @extend .padding-for-divs;
    @extend .text-box-tea;
}

.text-box-produtc-3 {
    display: flex;
    @extend .padding-for-divs;
    border-bottom: 1px solid #aaaaaa;
}

.text-3 {
    align-self: center;
    padding-top: 10px;
}

.text-box-tea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 1px solid #aaaaaa;
}

.text-tea-products {
    @include color-p;
    font-size: 20px;
    @extend .font_family;
}

.weight-text-box {
    margin-top: 19px;
}

.net-weight-text {
    color: #52575B;
    font-weight: 900;
    font-size: 18px;
}

.net-weight {
    @extend .net-weight-text;
    @extend .font_family;
}

.weight-box {
    @extend .padding-for-divs
}

.weight-info {
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #aaaaaa;
}

.weight-pic {
    margin-right: 5px;
}

.weight-text {
    @include paragraphs-texts;
    font-weight: 300;
    @extend .font_family;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .container {
        padding: 0em 1em 0em 1em;
    }
    .offcanvas_part {
        display: flex;
    }
    .navigation-list {
        display: none;
    }
    .product-tea-1-sm {
        display: none;
    }
    .tea-pic-sm {
        display: none;
    }
    .banner-sm {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .container {
        padding: 0em 1em 0em 1em;
    }
    .icons {
        display: none;
    }
    .offcanvas_part {
        justify-content: center;
        align-content: center;
        padding: 0;
    }
    .navigation-list {
        display: flex;
    }
    .list-items {
        padding: 13px 20px;
    }
    .links-list-items {
        text-decoration: none;
        color: #AFB2B4;
        font-family: sans-serif;
    }
    .tea-parts-sm {
        display: flex;
        justify-content: center;
    }
    .text-box-produtcs {
        display: flex;
        align-items: end;
        flex-direction: row;
    }
    .products-tea {
        display: none;
    }
    .product-tea-1-sm {
        display: flex;
        justify-content: center;
        margin-top: 150px;
    }
    .tea-1-pic {
        padding: 10px;
    }
    .text-box-1 {
       width: 466px;
       padding: 10px;
    }
    .part1-tea {
        display: flex;
        border-bottom: 1px solid #aaaaaa;
        padding: 10px;
    }
    .text-tea-products {
        align-self: center;
    }
    .part2-tea {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #aaaaaa;
        padding: 10px;
    }
    .tea-1-text {
        align-self: center;
        padding-top: 25px;
    }
    .weight-info {
        border: 0;
    }
    .tea-pic {
        display: none;
    }
    .product1-section {
        justify-content: end;
        margin: 0px 40px;
    }
    .heading-text {
        font-size: 55px;
    }
    .text_box {
        top: 45%;
    }
    .introduction {
        display: flex;
        justify-content: center;
    }
    .introduction-text-box {
        width: 700px;
    }
    .banner-section {
        display: flex;
        justify-content: center;
    }
    .banner-pic {
        padding: 10px;
    }
    .banner-text {
        align-content: center;
        padding: 10px;
    }
    .products-section {
        display: none;
    }
    .banner-sm {
        background-image: linear-gradient(180deg, #FBFBFB 0%, #D2D2D2 100%);
        opacity: 1;
        height: 395px;
    }
}