* {
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
}

.bg-color {
    background-color: #272727;
}

.font_family {
    font-family: sans-serif;
}

.text-font_size {
    font-size: 19px;
}

.padding-for-divs {
    padding: 10px;
}

@mixin color-p {
    color: red;
    font-weight: 300;
}

@mixin icons_color {
    color: #afb2b4;
}

.logo_section {
    display: flex;
    justify-content: center;
    @extend .bg-color;
}

.golestan_logo {
    width: 143px;
    padding: 5px 0px;
}

.offcanvas_part {
    @extend .bg-color;
    .icons {
        @include icons_color();
        padding: 8px;
    }
    display: flex;
    justify-content: end;
    padding: 45px 7.5px 15px 0px;
}

.bg_products {
    background-image: linear-gradient(#f8f8f8,#d9d9d9);
}

.products-section {
    @extend .bg_products;
    width: 320px;
    height: 340px;
    @extend .padding-for-divs;
}

.product1-section {
    display: flex;
    justify-content: center;
    @extend .padding-for-divs;
}

.text_box {
    @extend .heading-text;
    @extend .paragraphs-text;
    @extend .texts-position;
}

.texts-position {
    position: absolute;
    left: 10%;
    bottom: 20%;
}

.heading-text {
    @extend .font_family;
    font-size: 25px;
    color: red;
    font-weight: 400;
    padding-bottom: 5px;
}

.paragraphs-text {
    @extend .font_family;
    font-size: 20px;
    color: #94979A;
    font-weight: 300;
}

@mixin heading-texts {
    color: red;
    font-size: 22px;
    font-weight: 200;
    @extend .font_family;
}

.introduction-heading {
    @include heading-texts;
    margin-top: 30px;
}

@mixin paragraphs-texts {
    @extend .text-font_size;
    line-height: 34px;
    color: #94979A;
    font-weight: 200;
    text-align: justify;
}

.introduction-text {
    @include paragraphs-texts;
    @extend .font_family;
    margin-top: 15px;
}

.introduction-text-box {
    margin: 0px  15px;
    padding: 10px;
}

@mixin span {
   color: red; 
}

.span-text {
    @include span;
}

.products-tea {
    margin-top: 150px;
}

@mixin tea-pics {
    display: flex;
    justify-content: center;
}

.products-pic {
    @include tea-pics;
    @extend .padding-for-divs;
}

.text-box-produtcs {
    @extend .padding-for-divs;
    @extend .text-box-tea;
    width: 270px;
}

.text-box-tea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 1px solid #aaaaaa;
}

.text-tea-products {
    @include color-p;
    font-size: 20px;
    @extend .font_family;
}

.weight-text-box {
    margin-top: 19px;
}

.net-weight-text {
    color: #52575B;
    font-weight: 900;
    font-size: 18px;
}

.net-weight {
    @extend .net-weight-text;
    @extend .font_family;
}

.weight-box {
    @extend .padding-for-divs
}

.weight-info {
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #aaaaaa;
}

.weight-pic {
    margin-right: 5px;
}

.weight-text {
    @include paragraphs-texts;
    font-weight: 300;
    @extend .font_family;
}

@media screen and (max-width:767px) {
    .container {
        padding: 0em 1em 0em 1em;
    }
}