* {
  padding: 0;
  margin: 0;
  border: 0;
  overflow-x: hidden;
}

.bg-color, .logo_section, .offcanvas_part {
  background-color: #272727;
}

.font_family, .heading-text, .text_box, .paragraphs-text, .introduction-heading, .introduction-text, .text-tea-products, .net-weight, .weight-text {
  font-family: sans-serif;
}

.text-font_size, .introduction-text, .weight-text {
  font-size: 19px;
}

.padding-for-divs, .products-section, .product1-section, .products-pic, .text-box-produtcs, .weight-box {
  padding: 10px;
}

.logo_section {
  display: flex;
  justify-content: center;
}

.golestan_logo {
  width: 143px;
  padding: 5px 0px;
}

.offcanvas_part {
  display: flex;
  justify-content: end;
  padding: 45px 7.5px 15px 0px;
}

.offcanvas_part .icons {
  color: #afb2b4;
  padding: 8px;
}

.bg_products, .products-section {
  background-image: linear-gradient(#f8f8f8, #d9d9d9);
}

.products-section {
  width: 320px;
  height: 340px;
}

.product1-section {
  display: flex;
  justify-content: center;
}

.texts-position, .text_box {
  position: absolute;
  left: 10%;
  bottom: 20%;
}

.heading-text, .text_box {
  font-size: 25px;
  color: red;
  font-weight: 400;
  padding-bottom: 5px;
}

.paragraphs-text, .text_box {
  font-size: 20px;
  color: #94979A;
  font-weight: 300;
}

.introduction-heading {
  color: red;
  font-size: 22px;
  font-weight: 200;
  margin-top: 30px;
}

.introduction-text {
  line-height: 34px;
  color: #94979A;
  font-weight: 200;
  text-align: justify;
  margin-top: 15px;
}

.introduction-text-box {
  margin: 0px  15px;
  padding: 10px;
}

.span-text {
  color: red;
}

.products-tea {
  margin-top: 150px;
}

.products-pic {
  display: flex;
  justify-content: center;
}

.text-box-produtcs {
  width: 270px;
}

.text-box-tea, .text-box-produtcs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 1px solid #aaaaaa;
}

.text-tea-products {
  color: red;
  font-weight: 300;
  font-size: 20px;
}

.weight-text-box {
  margin-top: 19px;
}

.net-weight-text, .net-weight {
  color: #52575B;
  font-weight: 900;
  font-size: 18px;
}

.weight-info {
  display: flex;
  justify-content: end;
  border-bottom: 1px solid #aaaaaa;
}

.weight-pic {
  margin-right: 5px;
}

.weight-text {
  line-height: 34px;
  color: #94979A;
  font-weight: 200;
  text-align: justify;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0em 1em 0em 1em;
  }
}
