* {
  padding: 0;
  margin: 0;
  border: 0;
  overflow-x: hidden;
}

.bg-color, .logo_section, .offcanvas_part {
  background-color: #272727;
}

.font_family, .heading-text, .text_box, .paragraphs-text, .introduction-heading, .introduction-text, .text-tea-products, .net-weight, .weight-text {
  font-family: sans-serif;
}

.text-font_size, .introduction-text, .weight-text {
  font-size: 19px;
}

.padding-for-divs, .products-section, .product1-section, .products-pic, .text-box-produtcs, .text-box-produtc-3, .weight-box {
  padding: 10px;
}

.logo_section {
  display: flex;
  justify-content: center;
}

.golestan_logo {
  padding: 5px 0px;
}

.offcanvas_part {
  display: flex;
  justify-content: end;
  padding: 45px 7.5px 15px 0px;
}

.offcanvas_part .icons {
  color: #afb2b4;
  padding: 8px;
}

.bg_products, .products-section {
  background-image: linear-gradient(#f8f8f8, #d9d9d9);
}

.products-section {
  width: 100%;
  height: 340px;
}

.product1-section {
  display: flex;
  justify-content: center;
}

.texts-position, .text_box {
  position: absolute;
  left: 10%;
  bottom: 20%;
}

.heading-text, .text_box {
  font-size: 25px;
  color: red;
  font-weight: 400;
  padding-bottom: 5px;
}

.paragraphs-text, .text_box {
  font-size: 20px;
  color: #94979A;
  font-weight: 300;
}

.introduction-heading {
  color: red;
  font-size: 22px;
  font-weight: 200;
  margin-top: 30px;
}

.introduction-text {
  line-height: 34px;
  color: #94979A;
  font-weight: 200;
  text-align: justify;
  margin-top: 15px;
}

.introduction-text-box {
  margin: 0px  15px;
  padding: 10px;
}

.span-text {
  color: red;
}

.products-tea {
  margin-top: 150px;
}

.products-pic {
  display: flex;
  justify-content: center;
}

.text-box-produtc-3 {
  display: flex;
  border-bottom: 1px solid #aaaaaa;
}

.text-3 {
  align-self: center;
  padding-top: 10px;
}

.text-box-tea, .text-box-produtcs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 1px solid #aaaaaa;
}

.text-tea-products {
  color: red;
  font-weight: 300;
  font-size: 20px;
}

.weight-text-box {
  margin-top: 19px;
}

.net-weight-text, .net-weight {
  color: #52575B;
  font-weight: 900;
  font-size: 18px;
}

.weight-info {
  display: flex;
  justify-content: end;
  border-bottom: 1px solid #aaaaaa;
}

.weight-pic {
  margin-right: 5px;
}

.weight-text {
  line-height: 34px;
  color: #94979A;
  font-weight: 200;
  text-align: justify;
  font-weight: 300;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    padding: 0em 1em 0em 1em;
  }
  .offcanvas_part {
    display: flex;
  }
  .navigation-list {
    display: none;
  }
  .product-tea-1-sm {
    display: none;
  }
  .tea-pic-sm {
    display: none;
  }
  .banner-sm {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0em 1em 0em 1em;
  }
  .icons {
    display: none;
  }
  .offcanvas_part {
    justify-content: center;
    align-content: center;
    padding: 0;
  }
  .navigation-list {
    display: flex;
  }
  .list-items {
    padding: 13px 20px;
  }
  .links-list-items {
    text-decoration: none;
    color: #AFB2B4;
    font-family: sans-serif;
  }
  .tea-parts-sm {
    display: flex;
    justify-content: center;
  }
  .text-box-produtcs {
    display: flex;
    align-items: end;
    flex-direction: row;
  }
  .products-tea {
    display: none;
  }
  .product-tea-1-sm {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  .tea-1-pic {
    padding: 10px;
  }
  .text-box-1 {
    width: 466px;
    padding: 10px;
  }
  .part1-tea {
    display: flex;
    border-bottom: 1px solid #aaaaaa;
    padding: 10px;
  }
  .text-tea-products {
    align-self: center;
  }
  .part2-tea {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 10px;
  }
  .tea-1-text {
    align-self: center;
    padding-top: 25px;
  }
  .weight-info {
    border: 0;
  }
  .tea-pic {
    display: none;
  }
  .product1-section {
    justify-content: end;
    margin: 0px 40px;
  }
  .heading-text, .text_box {
    font-size: 55px;
  }
  .text_box {
    top: 45%;
  }
  .introduction {
    display: flex;
    justify-content: center;
  }
  .introduction-text-box {
    width: 700px;
  }
  .banner-section {
    display: flex;
    justify-content: center;
  }
  .banner-pic {
    padding: 10px;
  }
  .banner-text {
    align-content: center;
    padding: 10px;
  }
  .products-section {
    display: none;
  }
  .banner-sm {
    background-image: linear-gradient(180deg, #FBFBFB 0%, #D2D2D2 100%);
    opacity: 1;
    height: 395px;
  }
}
